body{
    margin:-1px;
    font-family:"Exo 2", calibri !important;
    color:#ffffff;
    background-color: #345793;
}
main{
    margin: 0px;
    padding: 20px;
    background-color: #4872bb;
}
h1{
    color: #ffffff;
    text-align: center;
    font-size: clamp(50px, 5vw, 75px);
    font-weight: 800;
    text-shadow: 0px 2px 2px #000000;
}

h1 .logo{
    position: relative;
    top: 25px;
}

.backing{
    border-radius: 1.5rem;
    background-color: #3862ab;
    width: 55vw;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 1px 1px 1px #000000;
}

.navbar{
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 99999;
    box-shadow: 0px 0px 0px#000000;
    transition: 0.2s;
}

.navbar:hover{
   box-shadow: 0px 2px 2px#000000;
   transition: 0.2s;
}

.navbar ul{
    list-style-type: none;
    background-color: #1f365e;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #2d4c81;
}
.navbar li{
    float: left;
}

.navbar .active{
    background-color: #78bdf6;
    box-shadow: 0px 3px 3px#000000;
}

.navbar .social{
    float: right;
    padding: 0px;
    height: 20px
}

.navbar .social a img{
    margin: 0px;
}


.socialLogo{
    margin: 0px;
}

.ItemBox{
    color:#ffffff;
    background-color: #345793;
    width: 50vw;
    height: fit-content;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px #000000;
    transition: 0.2s;
}

.ItemBox h4{
    background-color: #78bdf6;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    box-shadow: 1px 1px 1px #000000;
}

.ItemBox .Purchase{
    background-color: #78bdf6;
    color: #ffffff;
    border-radius: 1.5rem;
    width:20vw;
    height:3vw;
    border:solid;
    border-color: #4872bb;
    box-shadow: 1px 1px 1px #000000;
    font-size: clamp(2px,2vw,50px);
    
}

.ItemBox .Purchase:hover{
    background-color: #a6d7ff;
    border-color: #78bdf6;
    box-shadow: 0px 0px 0px #000000;
    
}

.ItemBox .Purchase:active{
    background-color: #222233;
    border-color: #111122;
    
}

.ItemBox .price{
    font-size: clamp(30px, 3vw, 50px);
}

.ItemBox:hover{
    box-shadow: 5px 5px 2px #000000;
    transition: 0.2s;
}

form input{
    border-radius: 5px;
    border: solid;
    border-color: #000000;
    background-color: #444466;
    color: #ffffff;
}

form input[type="number"]{
    width:100px;
}

form input:active{
    border-radius: 5px;
    border: solid;
    accent-color: #444477;
}

.container{
    margin: 0px;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
}

.email{
    color:#65d17a;
}

.magazine{
    width: 80vw;
    height: fit-content;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.magazine embed{
    border-radius: 1rem;
    box-shadow: 2px 2px 2px #000000;
    transition: 0.2s;
    height: 500px;
}

.magazine embed:hover{
    border-radius: 1rem;
    box-shadow: 5px 5px 5px #000000;
    transition: 0.2s;
    height: 1000px;
}


.contactInfo{
    border-radius: 1.5rem;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: #2d4c81;
    box-shadow: 2px 2px 2px #000000;
    transition: 0.2s;
}

.contactInfo:hover{
    box-shadow: 5px 5px 2px #000000;
    transition: 0.2s;
}

.contactList{
    list-style-type: none;
    padding: 10px;
    margin: 0px, auto;
    overflow: hidden;
    align-content: center;
}

.contactList li{
    float: left;
    margin: 10px;
}

footer{
    padding: 10px;
}

footer .logo{
    float: right;
}

.calibri {
    font-family: calibri !important;
}